[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"

[packages]
flower = "*"
sentry-sdk = "*"
celery = {extras = ["redis"],version = "*"}
django-environ = "*"
importlib-metadata = "*"

[requires]
python_version = "3.8"
